<div class="container">
    <select id="famList">
        <option ng-repeat="kid in childList" value="{{kid.id}}">{{ kid.username }}</option>
    </select>
    <button type="submit" ng-click="Items()">Select</button>
    <div ng-repeat="item in ItemList">
        <h2 style="width: 100%">{{ item.item_name }} 
            <span style="float:right">
                <h6> Purchased <input type="checkbox"> </h6>
            </span>
        </h2>
        <!-- add in the comments here -->
        <button id="btnComments{{ item.id }}" ng-click="Comments(item.id)" style="display: visible">Veiw Comments</button>
        <button id="btnHideComments{{ item.id }}" ng-click="HideComments(item.id)" style="display: none">Hide Comments</button>
        <br />
        <div class="container" id="divContainer{{item.id}}" style="display: none; width:100%">
            <div id="div{{ item.id }}id"  style="float: left; width: 50%"></div> 
            <div style="width: 50%; float:left;">
                <input id="username{{ item.id }}" type="text">
                <br />
                <textarea id="message{{ item.id }}" cols="60%" rows="4"></textarea>
                <br />
                <button type="submit" ng-click="SendComment(item.id)">Add Comment</button>
            </div>
        </div>
    </div>
</div>
