<!-- 
    for the homepage buttons 
-->
<div style="height:100vh">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div id="welcomeBox" class="col-md-12 text-center"><h1 class="welcomeText">Welcome to </h1></div>
    </div>
    <div class="row">
        <div id="logoBox" class="col-md-12 text-center"><img class="elfLogo" src="../images/Logo.png" alt=""></div>
        <div id="homeButton" class="col-md-6 text-right"><button class="clickButton" type="button" ng-click="Kid()">Kids</button></div>
        <div id="homeButton" class="col-md-6 text-center"><button class="clickButton" type="button" ng-click="Adult()">Parents</button></div>
    </div>
    <div class="poleContainer">
        <img src="../images/NorthPoleSign.png" class="poleSign">
    </div>
</div>
    <img id="snowHills" src="../images/snowHills.png" width="100%">