<!-- 
    for the homepage buttons 
-->
<div class="homeBG">
    <div id="snow" class="row">
        <div class="col-md-12">
            <a href="/adultSignIn" class="parentPost">
                <img src="../images/PARENTS.png" alt="">
            </a>
        </div>
        <div class="col-md-12">
            <a href="/kidSignIn" class="kidPost">
                <img src="../images/KIDS.png" alt="">
            </a>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            © 2017  Built By: <button class="modalButton" type="button" data-toggle="modal" data-target="#teamLogoModal"><img class="footIMG" src="images/TeamLogo.png"></button>
        </div>
    </footer>

<!-- modal -->
<div class="modal fade" id="teamLogoModal" tabindex="-1" role="dialog" aria-labelledby="teamLogoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <img class="teamLogo" src="images/TeamLogo.png">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="john">
                    <h2 class="modalH2">John Lea</h2>
                    <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
                        <li> <a href="https://github.com/JohnLea83"><i class="fa fa-github-alt"></i></a></li>
                        <li> <a href="www.linkedin.com/in/JohnLeaDev"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
                <div class="jio">
                    <h2 class="modalH2">Jiovanni Rosario</h2>
                    <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
                        <li> <a href="https://github.com/jiovanniro"><i class="fa fa-github-alt"></i></a></li>
                        <li> <a href="https://www.linkedin.com/in/jiovannirosario/"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
                <div class="jake">
                    <h2 class="modalH2">Jacob Jones</h2>
                    <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
                        <li> <a href="https://github.com/jacobjones7122"><i class="fa fa-github-alt"></i></a></li>
                        <li> <a href="https://www.linkedin.com/in/jacob-jones-668369126/"><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
          </div>
        </div>
      </div>