
<div class="centered-form">
    <div class="centered-form__form">
        <form>
            <div class="form-field">
                <h3>Login to Santas List</h3>
            </div>
            <div class="form-field">
                <label>Username</label>
                <input type="text" name="user" autofocus placeholder="your name">
            </div>
            <div class="form-field">
                <label>Password</label>
                <input type="text" name="password" placeholder="s3cr3t!">                
            </div>
            <div class="form-field">
                <button>Login</button>
                <button>Sign Up</button>
            </div>
        </form>
    </div>
</div>

