<div class="kidBG container">
    <!-- <div class="row">
        <form class="col-md-12">
            <div class="col-md-12">Login to Santas List</div>
                <div id="kidUser" class="form-field">
                    <label class="label">Username</label>
                    <input type="text" name="user" autofocus placeholder="your first name" ng-model="Username">
                </div>
                <div id="kidPass" class="form-field">
                    <label class="label">Password</label>
                    <input type="password" name="password" placeholder="s3cr3t!" ng-model="Password">                
                </div>
                <div class="form-field">
                    <button id="logButton" class="clickButton" ng-click="login()">Login</button>
                    <button id="signButton" class="clickButton">Sign Up</button>
                </div>
            </form>
        </div>
    </div> -->
    <div class="row">
        <div class="kidHeader col-md-12 text-center">Log In To Santa's List!</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="label text-center">Username:</label>
        </div>
        <div class="col-md-6 text-center">
            <input id="kidUser" class="input" type="text" name="user" autofocus placeholder="your name" ng-model="Username">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="label text-center">Password:</label>
        </div>
        <div class="col-md-6 text-center">
            <input id="kidPass" type="text" name="password" placeholder="s3cr3t!" ng-model="Password">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button id="logButton" class="clickButton">Login</button>
        </div>
    </div>
    <footer class="footer">
            <div class="container-fluid">
                    © 2017  Built By: <img class="footIMG" src="images/TeamLogo.png" data-toggle="modal" data-target="#teamLogoModal">
            </div>
          </footer>
</div>

