<div class="adultBG">
  <div class="formSU">
    <form class="createForm col-md-6" ng-submit="createChildUser()">
            <div class="form-row">
              <div class="form-group">
                <label class="label" for="inputName4">Child's First Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Full Name" ng-model="NewUser.username">
              </div>
            <div class="form-group">
              <label class="label" for="inputPassword4">Child's Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="NewUser.password">
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="ConfirmPassword">
            </div>
            <button type="submit" class="clickButton">Create Child's Profile</button>
    </form>
  </div>
  <footer class="footer">
      <div class="container-fluid">
              © 2017  Built By: <img class="footIMG" src="images/TeamLogo.png" data-toggle="modal" data-target="#teamLogoModal">
      </div>
    </footer>
</div>