<!-- <div class="adultBG" style="height:100vh">
  <div class="formSU">
    <form class="createForm col-md-6" ng-submit="createChildUser()">
            <div class="form-row">
              <div class="form-group">
                <label class="label" for="inputName4">Child's First Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Full Name" ng-model="NewUser.username">
              </div>
            <div class="form-group">
              <label class="label" for="inputPassword4">Child's Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="NewUser.password">
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="ConfirmPassword">
            </div>
            <button type="submit" class="clickButton">Create Child's Profile</button>
    </form>
  </div>
</div>
<img id="snowHills" src="../images/snowHills.png" width="100%"> -->




<div class="adultBG" style="height:100vh">
  <div class="row">
      <div class="kidHeader col-md-12 text-center" id="parentHeader">Create Your Kid's Account!</div>
  </div>
<div class="formSI">
  <form class="passForm col-md-6">
    <div class="form-group">
      <label class="label" for="exampleInputEmail1">Child's First Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" ng-model="NewUser.Username">
    </div>
    <div class="form-group">
      <label class="label" for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="NewUser.password">
          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="ConfirmPassword">
    </div>
    <!-- <div class="form-group">
      <label class="label" for="exampleInputPassword1">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="ConfirmPassword">
    </div> -->
    <row class="col-md-12 col-sm-12 col-md-12">
      <div>
        <button id="adultLoginBtn" type="submit" class="clickButton" ng-click="login()">Login</button>
        <button id="cancelLoginBtn" type="submit" class="clickButton" ng-click="Home()">Cancel</button>
      </div>
    </row>
  </form>
  </div>
</div>
<img id="snowHills" src="../images/snowHills.png" width="100%">