<div class="thankyouBG" style="height:100vh">
        <div class="thankyou-message">
            <h2 id="hoH2">HO! HO! HO!</h2>
            <p>Merry Christmas {{child.username}}!</p>
            <p>Thank you for sending me your Christmas list!</p>
            <p>I hope you are having a lot of winter-time fun. Mrs. Claus and I have been working hard
                and having fun getting ready to deliver your gifts!</p><br>
            <p>I know the Elves are making something special for you, and I'm sure you're going to love it!</p><br>
            <p>Rudolph and all of the other reindeer cant wait to visit you. Dont forget to leave some carrots out for them!</p><br>
            <h2 id="hoH2">Have a very Merry Christmas,</h2>
            <h4>Santa Claus</h4>
        </div>
    
        <div class="thankyou-options" ng-hide="hideoptions">
            <label for="add">Did you forget to add something?</label>
            <input type="button" name="add" class="clickButton" value="Add A New Item" ng-click="addToList()">
        </div>
    
        <div class="confirmation" ng-hide="hideconfirmation">
            <p>Your new item is being sent to Santa!</p>
        </div>
    
        <div ng-hide="hidethis" class="row add-new-items">
            <div class="col-md-6">
                <div id="toyList" class="row">
                    <div class="add-new-toy col-md-12">
                        <input type="button" id="new-field" class="clickButton text-center" value="Add A New Toy" ng-click="addNewToy()">
                    </div> 
                    <div>
                        <input type="submit" id="create-list" class="clickButton text-center" value="Send To Santa" ng-click="sendList(gifts)">        
                    </div>
                    <div id="toyItems">
    
                        <ul id="gift-list">
                            <input list="suggestions" id="item1" class="kidInput" ng-model="gifts.item1" ng-keyup="search(gifts.item1, $event)" ng-enter="removeFilteredItems()">
                        </ul>
    
                        <datalist id="suggestions">
                            <option class="list-group-item" ng-repeat="item in filteredItems" value="{{item}}">
                        </datalist> 
    
                    </div>
                </div>
                <div class="col-md-12">
                    <p ng-repeat="gift in gifts">{{gift.item_name}}</p>
                </div> 
            </div>         
        </div>
    <div class="window">
        <div class="santa">
            <div class="head">
                <div class="face">
                    <div class="redhat">
                        <div class="whitepart"></div>
                        <div class="redpart"></div>
                        <div class="hatball"></div>
                    </div>
                    <div class="eyes"></div>
                    <div class="beard">
                        <div class="nose"></div>
                        <div class="mouth"></div>
                    </div>
                </div>
                <div class="ears"></div>
            </div>
        <div class="body"></div>
        </div>
    </div>
</div>
    </div>
    <img id="snowHills" src="../images/snowHills.png" width="100%">